[submodule "personal-site/themes/KeepIt"]
	path = personal-site/themes/KeepIt
	url = https://github.com/Fastbyte01/KeepIt.git
[submodule "personal-site/public"]
	path = personal-site/public
	url = git@github.com:cshubhamrao/cshubhamrao.github.io.git
	branch = master
