#[submodule "themes/KeepIt"]
#	path = themes/KeepIt
#	url = https://github.com/Fastbyte01/KeepIt.git

[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
