{{ if .IsHome }}
<script type="application/ld+json">
{
  {{- $publisherType := ( site.Params.schema.publisherType | default "Organization") -}}
  {{- $personConfig := site.Params.schema.person -}}
  {{- $primaryURL := cond (and $personConfig $personConfig.url) $personConfig.url site.Home.Permalink -}}
  "@context": "https://schema.org",
  "@type": "{{- $publisherType | title -}}",
  "name": {{ site.Title }},
  "url": {{ $primaryURL | absURL }},
  "description": {{ site.Params.description | plainify | truncate 180 | safeHTML }},
  {{- if (eq $publisherType "Person") }}
  {{- $personImage := (or $personConfig.image site.Params.profileMode.imageUrl (site.Params.assets.favicon | default "favicon.ico")) -}}
  "image": {{ $personImage | absURL }},
  {{- else }}
  "logo": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }},
  {{- end }}
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ trim $e " " }}{{ end }}
    {{- else}}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | safeURL }}{{ end }}
    {{- end}}
  ]
  {{- with $personConfig }}
    {{- with .jobTitle }}
  ,"jobTitle": {{ . | jsonify | safeJS }}
    {{- end }}
    {{- with .worksFor }}
  ,"worksFor": {
    "@type": "Organization",
    "name": {{ .name | jsonify | safeJS }}
    {{- with .url }}, "url": {{ . | jsonify | safeJS }}{{- end }}
  }
    {{- end }}
    {{- with .alumniOf }}
  ,"alumniOf": [
      {{- range $i, $edu := . }}
        {{- if $i }}, {{- end }}
    {
      "@type": "Organization",
      "name": {{ $edu.name | jsonify | safeJS }}
      {{- with $edu.url }}, "url": {{ . | jsonify | safeJS }}{{- end }}
    }
      {{- end }}
  ]
    {{- end }}
    {{- with .knowsAbout }}
  ,"knowsAbout": {{ . | jsonify | safeJS }}
    {{- end }}
    {{- with .knowsLanguage }}
  ,"knowsLanguage": {{ . | jsonify | safeJS }}
    {{- end }}
    {{- with .award }}
  ,"award": {{ . | jsonify | safeJS }}
    {{- end }}
    {{- with .email }}
  ,"email": {{ . | jsonify | safeJS }}
    {{- end }}
  {{- end }}
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}

{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}

    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index  }},
      "name": {{ $bc_pg.Name }},
      "item": {{ $bc_pg.Permalink | safeHTML }}
    }
    {{- end }}

  {{- end }}
  {{- /*  self-page addition  */ -}}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{len $bc_list}},
      "name": {{ .Name }},
      "item": {{ .Permalink | safeHTML }}
    }
  ]
}
</script>
{{- if .IsPage }}
  {{- if (.Param "schemaProfilePage") }}
<script type="application/ld+json">
{
  {{- $personConfig := site.Params.schema.person -}}
  {{- $primaryURL := cond (and $personConfig $personConfig.url) $personConfig.url site.Home.Permalink -}}
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "name": {{ .Title | plainify | jsonify | safeJS }},
  "url": {{ .Permalink | jsonify | safeJS }},
  "description": {{ with .Description | plainify }}{{ . | jsonify | safeJS }}{{ else }}{{ .Summary | plainify | jsonify | safeJS }}{{ end }},
  {{- $profilePub := (.PublishDate | default .Date) -}}
  {{- $profileMod := (.Lastmod | default $profilePub) -}}
  "datePublished": {{ $profilePub }},
  "dateModified": {{ $profileMod }},
  "mainEntity": {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": {{ printf "%s/#person" $primaryURL | absURL | jsonify | safeJS }},
    "name": {{ site.Title | jsonify | safeJS }},
    {{- with $personConfig.alternateName }}
    "alternateName": {{ . | jsonify | safeJS }},
    {{- end }}
    "url": {{ $primaryURL | absURL | jsonify | safeJS }},
    {{- $personImage := (or (and $personConfig $personConfig.image) site.Params.profileMode.imageUrl (site.Params.assets.favicon | default "favicon.ico")) -}}
    "image": {{ $personImage | absURL | jsonify | safeJS }},
    {{- with $personConfig.description }}
    "description": {{ . | jsonify | safeJS }},
    {{- end }}
    {{- with $personConfig.jobTitle }}
    "jobTitle": {{ . | jsonify | safeJS }},
    {{- end }}
    {{- with $personConfig.email }}
    "email": {{ . | jsonify | safeJS }},
    {{- end }}
    {{- with $personConfig.worksFor }}
    "worksFor": {
      "@type": "Organization",
      "name": {{ .name | jsonify | safeJS }}
      {{- with .url }}, "url": {{ . | jsonify | safeJS }}{{- end }}
    },
    {{- end }}
    {{- with $personConfig.alumniOf }}
    "alumniOf": [
      {{- range $i, $edu := . }}
        {{- if $i }}, {{- end }}
      {
        "@type": "EducationalOrganization",
        "name": {{ $edu.name | jsonify | safeJS }}
        {{- with $edu.url }}, "url": {{ . | jsonify | safeJS }}{{- end }}
      }
      {{- end }}
    ],
    {{- end }}
    {{- with $personConfig.knowsAbout }}
    "knowsAbout": {{ . | jsonify | safeJS }},
    {{- end }}
    {{- with $personConfig.knowsLanguage }}
    "knowsLanguage": [
      {{- range $i, $lang := . }}
        {{- if $i }}, {{- end }}
      {
        "@type": "Language",
        "name": {{ $lang | jsonify | safeJS }}
      }
      {{- end }}
    ],
    {{- end }}
    {{- with $personConfig.hasCredential }}
    "hasCredential": [
      {{- range $i, $cred := . }}
        {{- if $i }}, {{- end }}
      {
        "@type": "EducationalOccupationalCredential",
        "credentialCategory": {{ $cred.credentialCategory | jsonify | safeJS }},
        "name": {{ $cred.name | jsonify | safeJS }},
        "recognizedBy": {
          "@type": "Organization",
          "name": {{ $cred.recognizedBy | jsonify | safeJS }}
        }
      }
      {{- end }}
    ],
    {{- end }}
    {{- with $personConfig.award }}
    "award": {{ . | jsonify | safeJS }},
    {{- end }}
    {{- with $personConfig.hasOccupation }}
    "hasOccupation": {
      "@type": "Occupation",
      "name": {{ .name | jsonify | safeJS }},
      "occupationalCategory": {{ .occupationalCategory | jsonify | safeJS }},
      "description": {{ .description | jsonify | safeJS }},
      "skills": {{ .skills | jsonify | safeJS }}
    },
    {{- end }}
    "sameAs": [
      {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ trim $e " " | jsonify | safeJS }}{{ end }}
      {{- else}}
        {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | jsonify | safeJS }}{{ end }}
      {{- end}}
    ],
    {{- with $personConfig.workLocation }}
    "workLocation": {
      "@type": "Place",
      "name": {{ . | jsonify | safeJS }}
    },
    {{- end }}
    {{- with $personConfig.nationality }}
    "nationality": {
      "@type": "Country",
      "name": {{ . | jsonify | safeJS }}
    },
    {{- end }}
    {{- with $personConfig.contactPoint }}
    "contactPoint": {
      "@type": "ContactPoint",
      "email": {{ .email | jsonify | safeJS }},
      "contactType": {{ .contactType | jsonify | safeJS }},
      "availableLanguage": {{ .availableLanguage | jsonify | safeJS }}
    }
    {{- end }}
    {{- with $personConfig.performerIn }}
    ,"performerIn": [
      {{- range $i, $event := . }}
        {{- if $i }}, {{- end }}
      {
        "@type": "Event",
        "name": {{ $event.name | jsonify | safeJS }},
        "description": {{ $event.description | jsonify | safeJS }},
        "startDate": {{ $event.startDate | jsonify | safeJS }},
        "eventStatus": "https://schema.org/EventScheduled",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "location": {
          "@type": "Place",
          "name": {{ $event.location | default "Bengaluru, India" | jsonify | safeJS }},
          "address": {
            "@type": "PostalAddress",
            "addressLocality": {{ $event.city | default "Bengaluru" | jsonify | safeJS }},
            "addressCountry": {{ $event.country | default "IN" | jsonify | safeJS }}
          }
        }
      }
      {{- end }}
    ]
    {{- end }}
    {{- with $personConfig.memberOf }}
    ,"memberOf": [
      {{- range $i, $org := . }}
        {{- if $i }}, {{- end }}
      {
        "@type": "Organization",
        "name": {{ $org.name | jsonify | safeJS }},
        "description": {{ $org.description | jsonify | safeJS }}
      }
      {{- end }}
    ]
    {{- end }}
  }
}
</script>
  {{- else }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | plainify}},
  "name": "{{ .Title | plainify }}",
  "description": {{ with .Description | plainify }}{{ . }}{{ else }}{{ .Summary | plainify  }}{{ end -}},
  "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- end }}
  ],
  "articleBody": {{ .Content | safeJS | htmlUnescape | plainify }},
  "wordCount" : "{{ .WordCount }}",
  "inLanguage": {{ .Language.Lang | default "en-us" }},
  {{ if .Params.cover.image -}}
  "image":
    {{- if (ne .Params.cover.relative true) -}}
    {{ .Params.cover.image | absURL }},
    {{- else -}}
    {{ (path.Join .RelPermalink .Params.cover.image ) | absURL }},
    {{- end}}
  {{- else }}
    {{- $images := partial "templates/_funcs/get-page-images" . -}}
    {{- with index $images 0 -}}
  "image": {{ .Permalink }},
    {{- end }}
  {{- end -}}
  {{- $articlePub := (.PublishDate | default .Date) -}}
  {{- $articleMod := (.Lastmod | default $articlePub) -}}
  "datePublished": {{ $articlePub }},
  "dateModified": {{ $articleMod }},
  {{- with (.Params.author | default site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" .) "[]string") (eq (printf "%T" .) "[]interface {}")) -}}
  [{{- range $i, $v := . -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": {{ $v }}
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": {{ . }}
  },
    {{- end -}}
  {{- end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | safeHTML }}
  },
  "publisher": {
    "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
    "name": {{ site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }}
    }
  }
}
</script>
  {{- end }}
{{- end }}{{/* .IsPage end */}}

{{- end -}}
